@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
}
.homePage {
	background: #8F0081;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #288F00;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #DB00C5;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #3DDB00;
	margin: 0px;
	float: left;
	width: 100%;
	height: 400px;
	text-align: center;
}
.footer {
	background: #FF19E8;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
